<form name="" action="/save" method="POST">
	<input type="text" name="name" placeholder="Name"><br>
	<input type="text" name="artist" placeholder="Artist"><br>
	<input type="text" name="year" placeholder="Year"><br>
	<input type="text" name="album" placeholder="Album"><br>
    <label>
        <textarea name="lyrics" width="400" height="400"></textarea>
    </label><br>
	<button type="submit">Save</button>
</form>