<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>ElasticSearch jQuery API Demo</h2>
    <input type="text" id="searchField" class="form-control" placeholder="e.g., hello"><br/>

    <button id="searchBtn" class="btn btn-info center-block">Search</button>

    <div class="table-responsive">
        <table class="table table-striped" id="resultTable">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="elasticsearch.js"></script>
<script type="text/javascript" src="elasticsearch.jquery.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>